.movie-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
    color: black;
}
.movie-modal-wrapper{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}
.modal-header{
    color: black;
    display: flex;
    justify-content:end;
}

.xi-close-circle{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.xi-close-circle:hover{
    transform: scale(1.2);
    transition: all .7s;
}

.modal-preview{
    width: 100%;
    border: 1px solid red;
}

/* .modal-recommend{
    width: 100%;
    height: 500px;
    border: 2px solid red;
} */